.fvd-vk-video-link > img{
	position: absolute;
	margin-top: -1px;
}

.fvd-vk-video-link > span{
	margin-left: 20px;
	font-weight: bold;
}

.fvd-vk-audio > table td:first-child,
.fvd-vk-audio .play_btn { display: block; width: 39px !important }
.fvd-vk-audio > table td:first-child a:first-child,
.fvd-vk-audio .play_btn a:first-child { float: left }
.fvd-vk-audio .audio_title_wrap { float: none !important; width: auto !important }
.fvd-vk-audio .player_wrap { margin-left: 47px !important }
.fvd-vk-audio .playline { width: auto !important }